
$rPX: 6px;
$dscolor: hsl(0, 0%, 13%);
$color: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(34,34,34,1) 50%, rgba(17,17,17,1) 100%);
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(80,80,80,1) 0%, rgba(50,50,50,1) 70%);
}

.game {
    width: 300px;
    height: 500px;
    

    &__body {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        box-sizing: border-box;
        box-shadow: inset 0 0 0 2px black;
        display: flex;
        flex-direction: column;
        border-radius: $rPX;
        overflow: hidden;
        background: black;
    }

    &__stats {
        user-select: none;
        color: white;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 20px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius: $rPX;
        background: $color;
    }

    &__text {
        border-radius: $rPX;
        border: 2px solid black;
        box-sizing: border-box;
        flex: 1 1 auto;
        box-shadow: 0 0 0 1px black;
        color: white;
        font-family: sans-serif;
        
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 14px;
        background: $color;
        overflow-y: scroll;
    }
    &__text::-webkit-scrollbar{
        width: 8px;
        height: 12px;
    }
    &__text::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.2);
        border-left: 3px solid black;
        border-right: 3px solid black;
    }
    &__text::-webkit-scrollbar-track{
        overflow: hidden;
        border-left: 3px solid black;
        border-right: 3px solid black;
        box-shadow: 0 0 0 1px black;
    }

    &__answers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        box-shadow: 0 0 0 1px black;
        box-sizing: border-box;
        border-radius: $rPX;
        background: $color;
        padding: 2px 0px;

    }

    &__answersBody{
        
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
        
        
    }

    &__answer {
        color: white;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.2);
        width: 49%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2px 0px 2px 0px;
        
        
        
        box-sizing: border-box;
        border-radius: $rPX;
        user-select: none;
        

    }
    &__answer:hover{
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer
    }
}
